<ol>
    {{#each posts as |post|}}
    <li class="item-short">
        <a href='/dashboard/edit/{{id}}' class='item-short-title'>
            {{title}}
        </a>
        <div class='item-short-meta'>
            {{format_date created_at}}
        </div>
    </li>
    {{/each}}
</ol>

<div class="new-post-wrapper">
    <a href='/dashboard/post' class="new-post">+ New Post</a>
</div>