<ol>
    {{#each posts as |post|}}
    <li class="item-short">
        <a href='/dashboard/edit/{{id}}' class='item-short-title'>
            {{title}}
        </a>
        <div class='item-short-meta'>
            {{created_at}}
        </div>
    </li>
    {{/each}}
</ol>

<div class="btn-new-post-wrapper">
    <button class="btn-new-post">+ New Post</button>
</div>