<div class="item" id='login-container'>
    <div class="item-header">
        Login
    </div>
    <form class="item-body" id='login-form'>
        <div>
            <label for="username-login">Username</label>
            <input type="text" id="username-login">
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="password" id="password-login">
        </div>
        <div class='wrapper'>
            <button type="submit" class="btn">Login!</button>
        </div>
        <button class="btn-no-style" id='toggle-signup'>Sign up instead</button>
    </form>
</div>
<div class="item hidden" id='signup-container'>
    <div class='item-header'>
        Sign Up
    </div>
    <form class="item-body" id='signup-form'>
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup">
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup">
        </div>
        <div class='wrapper'>
            <button type="submit" class="btn">Sign Up!</button>
        </div>
        <button class="btn-no-style" id='toggle-login'>Login instead</button>
    </form>
</div>

<script src="/javascript/login.js"></script>