<div class='item'>
    <div class='item-header'>
        Create New Post
    </div>
    <form class='item-body' id='new-post-form'>
        <div>
            <label for="post-title">Title</label>
            <input type="text" id='post-title'>
        </div>
        <div>
            <label for="post-text">Content</label>
            <textarea name="post-text" id="post-text" rows="3"></textarea>
        </div>
        <div class='wrapper'>
            <button type="submit" class="btn">Create</button>
        </div>
    </form>
</div>

<script src="/javascript/add-post.js"></script>