<div class="item">
    {{> post-info post}}
</div>
<ol>
    {{#each post.comments as |comment|}}
    <li class="item">
        {{> comments comment}}
    </li>
    {{/each}}
</ol>
<div class="item">
    <div class="item-header"></div>
    <form class="item-body">
        <div>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" rows="5"></textarea>
        </div>
        <div class='wrapper'>
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>