* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	line-height: 1.25;
}

:root {
	--main-dark-color: #231111;
	--main-light-color: #d8ead2;
}

.hidden {
	display: none;
}

.btn-no-style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	margin-top: 10px;
}

.btn {
	background: grey;
	color: white;
	border: none;
	width: 100%;
	padding: 7px;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: 105%;
}

.new-post-wrapper {
	flex: 100%;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	position: sticky;
	bottom: 0;
}

.new-post {
	background: var(--main-dark-color);
	color: var(--main-light-color);
	padding: 10px 15px;
	border-radius: 5px;
	margin: 10px 0;
	justify-self: center;
	font-size: 1em;
}

textarea {
	font-family: monospace;
	width: 100%;
	resize: none;
	padding: 10px;
	border: none;
}

textarea:focus,
input:focus {
	outline: #79abe0 auto 1px;
	outline-offset: 1px;
}

header {
	background: var(--main-dark-color);
	color: var(--main-light-color);
	padding: 30px;
	min-height: 20vh;
}

header div {
	color: var(--main-dark-color);
	background: var(--main-light-color);
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 5px 5px #a7a7a7;
	display: inline-block;
}

nav {
	margin-bottom: 20px;
}

nav a,
nav button {
	margin-right: 30px;
}

main {
	padding: 30px 30px 0 30px;
	background: var(--main-light-color);
	min-height: 80vh;
}

.item {
	/* flex: 100%; */
	list-style: none;
	margin-bottom: 20px;
	border: 3px solid var(--main-dark-color);
}

.item-header {
	color: var(--main-light-color);
	background: var(--main-dark-color);
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: 700;
}

.item-header span {
	text-align: right;
	align-self: center;
	font-size: 90%;
	margin-left: 30px;
}

.item-body {
	padding: 15px 20px;
}

.item-body label {
	display: block;
	margin: 5px 0;
}

.item-body input {
	border: none;
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
}

.item-short {
	/* flex: 100%; */
	list-style: none;
	background: grey;
	margin-bottom: 20px;
	border-radius: 10px;
	color: lightgrey;
	display: flex;
	padding: 10px;
	justify-content: space-between;
}

.item-short-title {
	flex: 0 75%;
}

.item-short-meta {
	flex: 0 15%;
	align-self: center;
	text-align: right;
}

form .btn-no-style {
	color: blue;
}

.comment-text,
.comment-meta {
	margin: 30px 0px;
}

.err404 {
	/* flex: 100%; */
	font-size: 300%;
}
